
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="header_action d-flex" style="justify-content: space-between">
    <div class="float-left mr-3">
        <h3 class="site_title">
            <span>Tin Tức</span>
        </h3>
    </div>
    <div class="float-right">
        <input type="submit" value="Lọc" onclick="return false;" id="btnSearch" class="btn btn-outline-primary ml-2" data-toggle="modal" data-target="#modalSearch" style="line-height: 10px">
        <input type="submit" value="Thêm mới" id="btnThemMoi" class="btn btn-outline-success ml-2" style="line-height: 10px" data-toggle="modal" data-target="#modalThemMoi">
        <input type="submit" value="Xóa" onclick="deleteTable();" id="ContentPlaceHolder_btnDelete" class="btn btn-outline-danger ml-2" style="line-height: 10px">
    </div>
</div>
<div class="loc" style="margin: 30px 0;">
    <label>Nhập từ khóa: </label>
    <input type="text" id="txtTukhoa" />
</div>
<div class="main_content form-row d-flex ">
    <table class="table table-hover " id="tableSanPham">
    </table>
</div>
@*<div class="modal fade" id="modalSearch" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Cập nhật Cấp độ mật</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body container col-12 col-lg-12 text-left">
                    <div class="container">
                        <div class="form-group">
                            <div class="input_place">
                                <lalbel>Tên cấp độ</lalbel>
                                <input name="txtSearchTenLoaiTaiLieu" type="text" id="txtTenCapDo" class="form-control mb-3">
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer modal-footer-center">
                    <input type="submit" name="ctl00$ContentPlaceHolder$btSearch" value="Cập nhật" id="btn-search" class="btn btn-outline-success" style="line-height: 10px">
                    <button style="line-height: 10px" type="button" class="btn btn-outline-danger" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalThemMoi" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body container col-12 col-lg-12 text-left">
                    <div class="container">
                        <form id="form-create">
                            <div class="form-group">
                                <div class="input_place">
                                    <lalbel>Tên cấp độ</lalbel>
                                    <input name="Ten_Cap_Do" type="text" id="txtMaTaiLieu" class="form-control mb-3">
                                </div>
                                <div class="input_place">
                                    <span class="hold">Giá trị</span>
                                    <input name="Gia_Tri" type="text" id="txtTenTaiLieu" class="form-control mb-3">
                                </div>
                                <div class="input_place">
                                    <span class="hold">Ghi chú</span>
                                    <input name="Ghi_Chu" type="text" id="txtTenTaiLieu" class="form-control mb-3">
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer modal-footer-center">
                    <input type="submit" name="btnSubmit" value="Xác nhận" onclick="btnSave_Onclick();" id="btSubmit" class="btn btn-outline-success" style="line-height: 10px">
                    <button style="line-height: 10px" type="button" class="btn btn-outline-danger" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body container col-12 col-lg-12 text-left">


                </div>
                <div class="modal-footer modal-footer-center">
                    <input type="submit" name="btnSubmit" value="Xác nhận" onclick="btnSave_Onclick();" id="btSubmit" class="btn btn-outline-success" style="line-height: 10px">
                    <button style="line-height: 10px" type="button" class="btn btn-outline-danger" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>*@

@section scripts{
    <script src="~/Areas/Admin/assets/js/ViewAdmin/SanPham.js"></script>
}