
@{
    ViewBag.Title = "ThemMoi";
    var category = ViewBag.DanhSachCategory;
    var dmcategory = ViewBag.DanhSachDMCategory;
}


<div class="container">
    <form id="form-create" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <div class="input_place">
                <lalbel>Tên sản phẩm</lalbel>
                <input name="NamePro" type="text" id="txtMaTaiLieu" class="form-control mb-3">
            </div>
            <div class="input_place">
                <span class="hold">Giá</span>
                <input name="Price" type="text" id="txtTenTaiLieu" class="form-control mb-3">
            </div>
            <div class="row">
                <div class="input_place col-6">
                    <span class="hold">Ảnh 1</span>
                    <input name="FileUpload1" type="file" id="FileUpload" class="form-control mb-3">
                </div>
                <div class="input_place col-6">
                    <span class="hold">Ảnh 2</span>
                    <input name="FileUpload" type="file" id="FileUpload1" class="form-control mb-3">
                </div>
            </div>

            <div class="input_place">
                <span class="hold">Số lượng</span>
                <input name="Quantity" type="text" class="form-control mb-3">
            </div>
            <div class="input_place">
                <span class="hold">Giảm giá</span>
                <input name="DisCount" type="text" class="form-control mb-3">
            </div>
            <div class="input_place">
                <span class="hold">Loại sản phẩm</span>
                <select class="form-select" name="CategoryId" aria-label="Default select example" id="CategoryId">
                    <option>-- Chọn Danh Mục --</option>
                    @foreach (var item in category.lst)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }

                </select>
                <input type="hidden" id="valCategoryId" />
            </div>
            <div class="input_place">
                <span class="hold">Loại danh mục</span>
                <select class="form-select" name="CategoryminId" aria-label="Default select example" id="Loai_Don_Vi_Id_Min">
                    <option>-- Chọn Loại Sản Phẩm --</option>
                    @foreach (var item in dmcategory.lst)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }

                </select>
                <input type="hidden" id="valLoai_Don_Vi_Min" />
            </div>


            <div class="input_place">
                <span class="hold">Mô tả</span>
                <textarea name="MoTa" id="" class="form-control mb-3"></textarea>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer modal-footer-center">
    <input type="submit" name="btnSubmit" value="Xác nhận" onclick="btnSave_Onclick();" id="btSubmit" class="btn btn-outline-success" style="line-height: 10px">
    <button style="line-height: 10px" type="button" class="btn btn-outline-danger" id="Dong" data-dismiss="modal">Đóng</button>

</div>

<script>
    function ToastMessage(title, message, type) {
        toast({
            title: title,
            message: message,
            type: type,
            duration: 5000
        });
    }

    $('#FileUpload').change(function () {
        debugger
        if (window.FormData !== undefined) {
            var fileUpload = $('#FileUpload').get(0);
            var files = fileUpload.files;
            var formData = new FormData();
            formData.append('file', files[0]);
            $.ajax({
                type: "POST",
                url: '/Admin/TinTuc/ProsessUpload',
                contentType: false,
                processData: false,
                data: formData,
                success: function (urlImage) {
                    type: "GET",
                    $('#pictureUpload').attr('src', urlImage);
                    $('#picture').val(urlImage);

                },
                Error: function (err) {
                    alert('Có lỗi khi upload : ' + err.status.text);
                }
            });
        }
    });
    $('#FileUpload1').change(function () {
        debugger
        if (window.FormData !== undefined) {
            var fileUpload = $('#FileUpload1').get(0);
            var files = fileUpload.files;
            var formData = new FormData();
            formData.append('file', files[0]);
            $.ajax({
                type: "POST",
                url: '/Admin/TinTuc/ProsessUpload',
                contentType: false,
                processData: false,
                data: formData,
                success: function (urlImage) {
                    type: "GET",
                        $('#pictureUpload').attr('src', urlImage);
                    $('#picture').val(urlImage);

                },
                Error: function (err) {
                    alert('Có lỗi khi upload : ' + err.status.text);
                }
            });
        }
    });

    function btnSave_Onclick() {
        var data = new FormData($('#form-create')[0]);
        $.ajax({
            url: '/Admin/Products/Create',
            type: "post",
            enctype: 'multipart/form-data',
            processData: false,
            contentType: false,
            cache: false,
            data: data,
            success: function (data) {
                if (data.type == "success") {
                    ToastMessage("Thông báo", "Lưu thành công", "success");
                    $("#modal").hide();
                    table.ajax.reload();
                }
                $.fn.toastrMessage(data.msg, '', data.type);
                $("#modal").hide();
                location.reload();
            },
            error: function (errorThrown) {
                ToastMessage("Lỗi", "Có lỗi sảy ra", "error");
            }
        });
    }
    $("#Dong").on("click", function () {
        $("#modal").hide();
    })
</script>
<script src="~/Scripts/js/extensions/modal.js"></script>