@{
    Layout = null;
}
<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg">


<!-- Mirrored from themesbrand.com/velzon/html/default/auth-signin-basic.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 25 May 2022 13:15:22 GMT -->
<head>

    <meta charset="utf-8" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    @*<link rel="shortcut icon" href="~/Content/CMSContent/assets/images/favicon.ico">*@

    <!-- Layout config Js -->
    <script src="~/Content/CMSContent/assets/js/layout.js"></script>
    <!-- Bootstrap Css -->
    <link href="~/Content/CMSContent/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="~/Content/CMSContent/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="~/Content/CMSContent/assets/css/app.min.css" rel="stylesheet" type="text/css" />
    <!-- custom Css-->
    <link href="~/Content/CMSContent/assets/css/custom.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/CMSContent/assets/css/base.css" rel="stylesheet" />
    <link href="~/Content/CMSContent/assets/css/button.css" rel="stylesheet" />
    <link href="~/Content/CMSContent/assets/css/keyframe.css" rel="stylesheet" />
    <link href="~/Content/CMSContent/assets/css/loading.css" rel="stylesheet" />
    <link href="~/Content/CMSContent/assets/css/modal.css" rel="stylesheet" />
    <link href="~/Content/CMSContent/assets/libs/toast/toast.css" rel="stylesheet" />
    <link href="~/Content/ControllerCss/CustomAdmin.css" rel="stylesheet" />
    <link href="~/Content/CMSContent/assets/libs/select2/select2.min.css" rel="stylesheet" />
    <link href="~/Content/CMSContent/assets/libs/Jstree/vakata-jstree-7a03954/dist/themes/default/style.min.css" rel="stylesheet" />

    <style>
        .auth-one-bg-position {
            height: 470px !important;
        }
    </style>
</head>

<body>
    <div id="toast_msg"></div>

    <!-- loading -->
    <div id="loading" class="">
        <div>
            <span class="loader"></span>
            <span class="loader2">Loading</span>
        </div>
    </div>
    <div class="auth-page-wrapper pt-5">
        <!-- auth page bg -->
        <div class="auth-one-bg-position auth-one-bg" id="auth-particles" style="background-image: url('/Content/Image/Banner/z3958093108176_83f2486555e47b241b542d6a66fb13d1.jpg') ">
            <div class="bg-overlay"></div>

            <div class="shape">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1440 120">
                    <path d="M 0,36 C 144,53.6 432,123.2 720,124 C 1008,124.8 1296,56.8 1440,40L1440 140L0 140z"></path>
                </svg>
            </div>
        </div>
        <!-- auth page content -->
        <div class="auth-page-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center mt-sm-5 mb-4 text-white-50">
                            <div>
                                <a href="index.html" class="d-inline-block auth-logo">
                                    <img src="~/Content/images/user-illustarator-2.png" alt="" height="100">
                                </a>
                            </div>
                            <h2 class="text-white pt-3">Login Admin</h2>
                        </div>
                    </div>
                </div>
                <!-- end row -->

                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <div class="card mt-4">

                            <div class="card-body p-4">
                                <div class="text-center mt-2">
                                    <h5 class="text-primary">Đăng nhập</h5>
                                </div>
                                <div class="p-2 mt-4">
                                    <form action="https://themesbrand.com/velzon/html/default/index.html">

                                        <div class="mb-3">
                                            <label for="username" class="form-label">Tài khoản</label>
                                            <input type="text" class="form-control" id="username" placeholder="Tài khoản" value="Admin">
                                        </div>

                                        <div class="mb-3">
                                            <label class="form-label" for="password-input">Mật khẩu</label>
                                            <div class="position-relative auth-pass-inputgroup mb-3">
                                                <input type="password" class="form-control pe-5" placeholder="Mật khẩu" id="password-input" value="123@123">
                                                <button class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted" type="button" id="password-addon"><i class="ri-eye-fill align-middle"></i></button>
                                            </div>
                                        </div>

                                        <div class="mt-4">
                                            <a class="btn btn-success w-100" onclick="DangNhap()">Đăng nhập</a>
                                        </div>
                                        
                                    </form>
                                </div>
                            </div>
                            <!-- end card body -->
                        </div>
                        <!-- end card -->
                    </div>
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end auth page content -->
        <!-- footer -->
        @*<footer class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-center">
                                <p class="mb-0 text-muted">
                                    &copy;
                                    <script>document.write(new Date().getFullYear())</script> Velzon. Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesbrand
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>*@
        <!-- end Footer -->
    </div>
    <!-- end auth-page-wrapper -->
    <!-- JAVASCRIPT -->
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Content/CMSContent/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/CMSContent/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="~/Content/CMSContent/assets/libs/node-waves/waves.min.js"></script>
    <script src="~/Content/CMSContent/assets/libs/feather-icons/feather.min.js"></script>
    <script src="~/Content/CMSContent/assets/js/pages/plugins/lord-icon-2.1.0.js"></script>
    <script src="~/Content/CMSContent/assets/js/plugins.js"></script>
    <script src="~/Content/CMSContent/assets/libs/toast/toast.js"></script>
    <script src="~/Content/CMSContent/assets/js/base.js"></script>

    <!-- particles js -->
    <script src="~/Content/CMSContent/assets/libs/particles.js/particles.js"></script>
    <!-- particles app js -->
    <script src="~/Content/CMSContent/assets/js/pages/particles.app.js"></script>
    <!-- password-addon init -->
    <script src="~/Content/CMSContent/assets/js/pages/password-addon.init.js"></script>
    <script>
        function ToastMessage(title, message, type) {
            toast({
                title: title,
                message: message,
                type: type,
                duration: 500000
            });
        }
        function DangNhap() {

            if ($("#username").val() == "") {
                ToastMessage("Lỗi", "Không được để trống tài khoản", "error");
                return;
            }
            if ($("#password-input").val() == "") {
                ToastMessage("Lỗi", "Không được để trống mật khẩu", "error");
                return;
            }
            loading();
            var requestModel = {
                UserName: $("#username").val(),
                Password: $("#password-input").val()
            }

            $.post("/Admin/Login/DangNhap", { "requestModel": requestModel }, function (data) {
                if (data.type == "success") {
                    debugger
                    if (data.data.ID == 0) {
                        ToastMessage("Lỗi", "Thông tin tài khoản mật khẩu không chính xác", "error");
                    }
                    else {
                        ToastMessage("Thông báo", "Đăng nhập thành công", "success");
                        window.location.href = '/Admin/Home/Index'
                    }
                }
                else {
                    ToastMessage("Lỗi", data.message, data.icon);
                }
                offLoading();
            });
        }
    </script>
</body>


<!-- Mirrored from themesbrand.com/velzon/html/default/auth-signin-basic.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 25 May 2022 13:15:22 GMT -->
</html>