
@{
    ViewBag.Title = "_ThemMoi";
    Layout = null;
}
<div class="row">
    <div class="panel" style="margin-top: 10px !important;">
        <div class="panel-body">
            <div style="padding: 10px;">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6  mb-3">
                        <div class="form-group">
                            <label>Tiêu đề<span class="text-danger">(*)</span></label>
                            <input type="text" class="form-control" placeholder="" id="txtNameThemMoi" value="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6  mb-3">
                        <div class="form-group">
                            <label>Liên kết<span class="text-danger">(*)</span></label>
                            <input type="text" class="form-control" placeholder="" id="txtLienKetThemMoi" value="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6  mb-3">
                        <div class="form-group">
                            <label>Ngày bắt đầu<span class="text-danger">(*)</span></label>
                            <input type="text" class="form-control" placeholder="" id="txtNgayBatDauThemMoi" value="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6  mb-3">
                        <div class="form-group">
                            <label>Ngày kết thúc<span class="text-danger">(*)</span></label>
                            <input type="text" class="form-control" placeholder="" id="txtNgayKetThucThemMoi" value="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6  mb-3">
                        <div class="form-group">
                            <label>Ảnh<span class="text-danger">(*)</span></label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="txtFileAnhThemMoi" onchange="LoadAnhThemMoi()">
                                <button class="btn btn-outline-primary" onclick="ChonAnhThemMoi()">Chọn</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12  mb-3">
                        <div>
                            <div class="dropzoneAnhDaiDien" id="dropzoneAnhDaiDienThemMoi">
                                <div style="padding: 50px;">Ảnh đại điện</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#txtNgayBatDauThemMoi").flatpickr({
        dateFormat: "d-m-Y",
    });

    $("#txtNgayKetThucThemMoi").flatpickr({
        dateFormat: "d-m-Y",
    });

    function ChonAnhThemMoi() {
        var finder = new CKFinder();
        finder.selectActionFunction = function (url) {
            $("#txtFileAnhThemMoi").val(url);
            LoadAnhThemMoi();
        }
        finder.popup();
    }

    function LoadAnhThemMoi() {
        debugger
        var Url = $("#txtFileAnhThemMoi").val();
        $("#dropzoneAnhDaiDienThemMoi").empty();
        $("#dropzoneAnhDaiDienThemMoi").html(`<img src="${Url}"/>`);
        $("#dropzoneAnhDaiDienThemMoi").addClass("dropSua");
    }


    function ThemMoiLuu() {
        if ($("#txtNameThemMoi").val() == "") {
            ToastMessage("Lỗi", "Không được để trống tiêu đề", "error");
            return;
        }
        if ($("#txtLienKetThemMoi").val() == "") {
            ToastMessage("Lỗi", "Không được để trống liên kết", "error");
            return;
        }

        if ($("#txtNgayBatDauThemMoi").val() == "") {
            ToastMessage("Lỗi", "Không được để trống ngày bắt đầu", "error");
            return;
        }
        if ($("#txtNgayKetThucThemMoi").val() == "") {
            ToastMessage("Lỗi", "Không được để trống ngày kết thúc", "error");
            return;
        }
        if ($("#txtFileAnhThemMoi").val() == "") {
            ToastMessage("Lỗi", "Không được để trống ảnh", "error");
            return;
        }
        Swal.fire({
            title: '',
            text: "Chắc chắn lưu ảnh?",
            icon: 'question',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Chắc chắn',
            cancelButtonText: 'Thoát'
        }).then((result) => {
            if (result.isConfirmed) {
                loading();
                var requestModel = {
                    Name: $("#txtNameThemMoi").val(),
                    Image: $("#txtFileAnhThemMoi").val(),
                    Url: $("#txtLienKetThemMoi").val(),
                    StartDate: moment($("#txtNgayBatDauThemMoi").val(), "DD-MM-YYYY").format('YYYY-MM-DD'),
                    EndDate: moment($("#txtNgayKetThucThemMoi").val(), "DD-MM-YYYY").format('YYYY-MM-DD'),
                }

                $.post("/Admin/QuanTriBanner/ThemMoi", { "requestModel": requestModel }, function (data) {
                    if (data.icon == "success") {
                        Message('', data.message, data.icon);
                        $("#ModelThemMoi").modal("hide");
                    }
                    else {
                        Message('', data.message, data.icon);
                    }
                    table.ajax.reload(null, false);
                    offLoading();
                });
            }
        })
    }


</script>