
@{
    ViewBag.Title = "_ChanTrangBP";
    var ChiTiet = ViewBag.ChiTiet;
    Layout = null;
}
<div class="text-logo-footer mt-3 line-heigth-footer pb-0 mb-0">
    @Html.Raw(ChiTiet.ChanTrangBP)
</div>