
@{
    ViewBag.Title = "_ChanTrangBP";
    var ChiTiet = ViewBag.ChiTiet;
    Layout = null;
}
<style>
    #sty-chantrang p {
        margin: 0
    }
</style>
<div style="width: 100%; height: auto; background-color: #0A3875; float: left; color: white; text-align: center" id="sty-chantrang">
    @Html.Raw(ChiTiet.ChanTrang)
</div>