@{
    ViewBag.Title = "Index";
}

<link href="~/Content/ControllerCss/Home.css" rel="stylesheet" />
<link href="~/Content/ControllerCss/HomeProduct.css" rel="stylesheet" />
<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/Content/Image/Banner/slide1.png" style="width:1349px ; height:691px ;object-fit:contain" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/Content/Image/Banner/slide2.png" style="width:1349px ; height:691px ;object-fit:cover" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/Content/Image/Banner/slide3.jpg" style="width:1349px ; height:691px ;object-fit:contain" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<section>
    <div class="container t3-mainbody mt-5">
        <div class="row">
            <!-- MAIN CONTENT -->
            <div id="t3-content" class="t3-content col-xs-12">
                <div id="system-message-container">
                </div>

                <div class="eshop-shop-introduction">
                    <h1 style="text-align: center;">CHÀO MỪNG!</h1>
                    <h2 style="text-align: center;">ĐẾN VỚI FASHIONGO</h2>
                    <p style="text-align: center;">Với mục tiêu tạo ra những trải nghiệm mua sắm thời trang trực tuyến tuyệt vời, FashionGo (FG) ra đời và luôn nỗ lực để mang đến khách hàng mua sắm thời trang: Kho thời trang chất lượng, Giá cả cạnh tranh, Dịch vụ chăm sóc khách hàng tận tâm... và hơn thế chung tôi luôn cam kết bằng hành động của mình. Chúc bạn lựa chọn được phong cách phù hợp với mình cùng FG!</p>
                    <p style="text-align: center;"><a class="btn btn-primary" href="" title="Giới thiệu về FashionGo">Đọc thêm</a></p>
                </div>

            </div>
            <!-- //MAIN CONTENT -->
        </div>
    </div>
</section>
<section>
    <div class="wrap t3-featured-product">
        <div class="container">
            <div class="t3-module module " id="Mod116">
                <div class="module-inner">
                    <h3 class="module-title mt-3 mb-3 "><span>Sản phẩm Mới</span></h3><div class="module-ct">
                        <div class="eshop-product">
                            <div class="row">
                                <div class="eshop_product col-lg-3 col-xs-12 col-md-3">
                                    <div class="eshop-wrap-product">
                                        <div class="eshop-image-block">
                                            <div class="image">
                                                <span class="overlay-background-color">&nbsp;</span>
                                                <a href="" title="Áo vải">
                                                    <img id="product-image" class="image img-responsive" alt="" src="~/Content/images/khoac-vest-co-gon-song3.jpg" />
                                                </a>
                                            </div>
                                            <div class="eshop-buttons">
                                                <p>
                                                    <a class="button" style="cursor: pointer;" onclick="addToWishList()" title="Đánh dấu sản phẩm yêu thích"><i class="fa fa-heart"></i><span class="text-hide">Yêu thích</span></a>
                                                    <a class="button" style="cursor: pointer;" href="" title="Xem chi tiết"><i class="fa fa-arrow-right"></i><span class="text-hide">Chi tiết</span></a>
                                                </p>
                                                <div class="eshop-items btn btn-primary">
                                                    <a>
                                                        <i class="fa fa-shopping-cart">&nbsp;</i>
                                                        <span>Thêm giỏ hàng</span>
                                                        @*<span id="eshop-cart-total">@ShoppingCart.Cart.Count</span>*@
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <h4 class="eshop-product-title">
                                            <a href="" title="Áo vải">
                                                ÁO KHOÁC VEST CỔ GỢN SÓNG
                                            </a>
                                        </h4>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-xs-6">
                                                <div>
                                                    <div class="product-review">
                                                        <p>
                                                            <i class="fa fa-tag" aria-hidden="true">5</i>  <i class="fa fa-eye" aria-hidden="true">25</i>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-xs-6">

                                                <span class="eshop-base-price" style="font-size:16px">700.000đ</span>

                                                <span class="eshop-price" style="font-size:18px">800.00đ</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="eshop_product col-lg-3 col-xs-12 col-md-3">
                                    <div class="eshop-wrap-product">
                                        <div class="eshop-image-block">
                                            <div class="image">
                                                <span class="overlay-background-color">&nbsp;</span>
                                                <a href="" title="Áo vải">
                                                    <img id="product-image" class="image img-responsive" alt="" src="~/Content/images/khoac-vest-co-gon-song3.jpg" />
                                                </a>
                                            </div>
                                            <div class="eshop-buttons">
                                                <p>
                                                    <a class="button" style="cursor: pointer;" onclick="addToWishList()" title="Đánh dấu sản phẩm yêu thích"><i class="fa fa-heart"></i><span class="text-hide">Yêu thích</span></a>
                                                    <a class="button" style="cursor: pointer;" href="" title="Xem chi tiết"><i class="fa fa-arrow-right"></i><span class="text-hide">Chi tiết</span></a>
                                                </p>
                                                <div class="eshop-items btn btn-primary">
                                                    <a>
                                                        <i class="fa fa-shopping-cart">&nbsp;</i>
                                                        <span>Thêm giỏ hàng</span>
                                                        @*<span id="eshop-cart-total">@ShoppingCart.Cart.Count</span>*@
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <h4 class="eshop-product-title">
                                            <a href="" title="Áo vải">
                                                ÁO KHOÁC VEST CỔ GỢN SÓNG
                                            </a>
                                        </h4>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-xs-6">
                                                <div>
                                                    <div class="product-review">
                                                        <p>
                                                            <i class="fa fa-tag" aria-hidden="true">5</i>  <i class="fa fa-eye" aria-hidden="true">25</i>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-xs-6">

                                                <span class="eshop-base-price" style="font-size:16px">700.000đ</span>

                                                <span class="eshop-price" style="font-size:18px">800.00đ</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="eshop_product col-lg-3 col-xs-12 col-md-3">
                                    <div class="eshop-wrap-product">
                                        <div class="eshop-image-block">
                                            <div class="image">
                                                <span class="overlay-background-color">&nbsp;</span>
                                                <a href="" title="Áo vải">
                                                    <img id="product-image" class="image img-responsive" alt="" src="~/Content/images/khoac-vest-co-gon-song3.jpg" />
                                                </a>
                                            </div>
                                            <div class="eshop-buttons">
                                                <p>
                                                    <a class="button" style="cursor: pointer;" onclick="addToWishList()" title="Đánh dấu sản phẩm yêu thích"><i class="fa fa-heart"></i><span class="text-hide">Yêu thích</span></a>
                                                    <a class="button" style="cursor: pointer;" href="" title="Xem chi tiết"><i class="fa fa-arrow-right"></i><span class="text-hide">Chi tiết</span></a>
                                                </p>
                                                <div class="eshop-items btn btn-primary">
                                                    <a>
                                                        <i class="fa fa-shopping-cart">&nbsp;</i>
                                                        <span>Thêm giỏ hàng</span>
                                                        @*<span id="eshop-cart-total">@ShoppingCart.Cart.Count</span>*@
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <h4 class="eshop-product-title">
                                            <a href="" title="Áo vải">
                                                ÁO KHOÁC VEST CỔ GỢN SÓNG
                                            </a>
                                        </h4>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-xs-6">
                                                <div>
                                                    <div class="product-review">
                                                        <p>
                                                            <i class="fa fa-tag" aria-hidden="true">5</i>  <i class="fa fa-eye" aria-hidden="true">25</i>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-xs-6">

                                                <span class="eshop-base-price" style="font-size:16px">700.000đ</span>

                                                <span class="eshop-price" style="font-size:18px">800.00đ</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="eshop_product col-lg-3 col-xs-12 col-md-3">
                                    <div class="eshop-wrap-product">
                                        <div class="eshop-image-block">
                                            <div class="image">
                                                <span class="overlay-background-color">&nbsp;</span>
                                                <a href="" title="Áo vải">
                                                    <img id="product-image" class="image img-responsive" alt="" src="~/Content/images/khoac-vest-co-gon-song3.jpg" />
                                                </a>
                                            </div>
                                            <div class="eshop-buttons">
                                                <p>
                                                    <a class="button" style="cursor: pointer;" onclick="addToWishList()" title="Đánh dấu sản phẩm yêu thích"><i class="fa fa-heart"></i><span class="text-hide">Yêu thích</span></a>
                                                    <a class="button" style="cursor: pointer;" href="" title="Xem chi tiết"><i class="fa fa-arrow-right"></i><span class="text-hide">Chi tiết</span></a>
                                                </p>
                                                <div class="eshop-items btn btn-primary">
                                                    <a>
                                                        <i class="fa fa-shopping-cart">&nbsp;</i>
                                                        <span>Thêm giỏ hàng</span>
                                                        @*<span id="eshop-cart-total">@ShoppingCart.Cart.Count</span>*@
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <h4 class="eshop-product-title">
                                            <a href="" title="Áo vải">
                                                ÁO KHOÁC VEST CỔ GỢN SÓNG
                                            </a>
                                        </h4>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-xs-6">
                                                <div>
                                                    <div class="product-review">
                                                        <p>
                                                            <i class="fa fa-tag" aria-hidden="true">5</i>  <i class="fa fa-eye" aria-hidden="true">25</i>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-xs-6">

                                                <span class="eshop-base-price" style="font-size:16px">700.000đ</span>

                                                <span class="eshop-price" style="font-size:18px">800.00đ</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="section nobottommargin">
        <div class="container clearfix">

            <div class="col_one_fourth nobottommargin">
                <div class="feature-box fbox-plain fbox-dark fbox-small">
                    <div class="fbox-icon">
                        <i class="fa-solid fa-thumbs-up"></i>
                    </div>
                    <h3>100% Bản Gốc</h3>
                    <p class="notopmargin">Chúng tôi đảm bảo cho bạn việc bán các nhãn hiệu gốc.</p>
                </div>
            </div>

            <div class="col_one_fourth nobottommargin">
                <div class="feature-box fbox-plain fbox-dark fbox-small">
                    <div class="fbox-icon">
                        <i class="fa-solid fa-credit-card-front"></i>
                    </div>
                    <h3>CÁC LỰA CHỌN THANH TOÁN</h3>
                    <p class="notopmargin">Chúng tôi chấp nhận Visa, MasterCard và American Express.</p>
                </div>
            </div>

            <div class="col_one_fourth nobottommargin">
                <div class="feature-box fbox-plain fbox-dark fbox-small">
                    <div class="fbox-icon">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <h3>MIỄN PHÍ VẬN CHUYỂN</h3>
                    <p class="notopmargin">Giao hàng miễn phí tới hơn 100 địa điểm với đơn hàng trên $40.</p>
                </div>
            </div>

            <div class="col_one_fourth nobottommargin col_last">
                <div class="feature-box fbox-plain fbox-dark fbox-small">
                    <div class="fbox-icon">
                        <i class="fa-solid fa-rotate-left"></i>
                    </div>
                    <h3>TRẢ LẠI TRONG 30 NGÀY</h3>
                    <p class="notopmargin">Trả lại hoặc trao đổi các mặt hàng đã mua trong vòng 30 ngày.</p>
                </div>
            </div>

        </div>
    </div>
</section>
<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">

            <!-- Portfolio Filter
            ============================================= -->
            <ul id="portfolio-filter" class="portfolio-filter clearfix">

                <li class="activeFilter"><a href="#" data-filter="*">Show All</a></li>
                <li><a href="#" data-filter=".pf-dress">Dress</a></li>
                <li><a href="#" data-filter=".pf-Shoes">Shoes</a></li>
                <li><a href="#" data-filter=".pf-sunglass">Sunglass</a></li>
                <li><a href="#" data-filter=".pf-watch">Watch</a></li>

            </ul><!-- #portfolio-filter end -->

            <div style="float:right; width:280px;">
                <input class="range_23" />
            </div>

            <div class="clear"></div>

            <!-- Shop
            ============================================= -->
            <div id="shop" class="shop grid-container clearfix">

                <div class="product clearfix pf-dress">
                    <div class="product-image">
                        <a href="#"><img src="~/Content/Image/Product/quan1.jpg" alt="Checked Short Dress"></a>
                        <a href="#"><img src="~/Content/Image/Product/quan2.jpg" alt="Checked Short Dress"></a>
                        <div class="sale-flash">50% Off*</div>
                        <div class="product-overlay">
                            <a href="#" class="add-to-cart"><i class="icon-shopping-cart"></i><span> Add to Cart</span></a>
                            <a href="include/ajax/shop-item.html" class="item-quick-view" data-lightbox="ajax"><i class="icon-zoom-in2"></i><span> Quick View</span></a>
                        </div>
                    </div>
                    <div class="product-desc">
                        <div class="product-title"><h3><a href="#">Checked Short Dress</a></h3></div>
                        <div class="product-price"><del>$24.99</del> <ins>$12.49</ins></div>
                        <div class="product-rating">
                            <i class="icon-star3"></i>
                            <i class="icon-star3"></i>
                            <i class="icon-star3"></i>
                            <i class="icon-star3"></i>
                            <i class="icon-star-half-full"></i>
                        </div>
                    </div>
                </div>

                <div class="product clearfix pf-dress">
                    <div class="product-image">
                        <a href="#"><img src="~/Content/Image/Product/quan3.jpg" alt="Light Blue Denim Dress"></a>
                        <a href="#"><img src="~/Content/Image/Product/quan1.jpg" alt="Light Blue Denim Dress"></a>
                        <div class="product-overlay">
                            <a href="#" class="add-to-cart"><i class="icon-shopping-cart"></i><span> Add to Cart</span></a>
                            <a href="include/ajax/shop-item.html" class="item-quick-view" data-lightbox="ajax"><i class="icon-zoom-in2"></i><span> Quick View</span></a>
                        </div>
                    </div>
                    <div class="product-desc">
                        <div class="product-title"><h3><a href="#">Light Blue Denim Dress</a></h3></div>
                        <div class="product-price">$19.95</div>
                        <div class="product-rating">
                            <i class="icon-star3"></i>
                            <i class="icon-star3"></i>
                            <i class="icon-star3"></i>
                            <i class="icon-star3"></i>
                            <i class="icon-star-empty"></i>
                        </div>
                    </div>
                </div>

                <div class="product clearfix pf-dress">
                    <div class="product-image">
                        <a href="#"><img src="~/Content/Image/Product/quan3.jpg" alt="Light Blue Denim Dress"></a>
                        <a href="#"><img src="~/Content/Image/Product/quan1.jpg" alt="Light Blue Denim Dress"></a>
                        <div class="product-overlay">
                            <a href="#" class="add-to-cart"><i class="icon-shopping-cart"></i><span> Add to Cart</span></a>
                            <a href="include/ajax/shop-item.html" class="item-quick-view" data-lightbox="ajax"><i class="icon-zoom-in2"></i><span> Quick View</span></a>
                        </div>
                    </div>
                    <div class="product-desc">
                        <div class="product-title"><h3><a href="#">Light Blue Denim Dress</a></h3></div>
                        <div class="product-price">$19.95</div>
                        <div class="product-rating">
                            <i class="icon-star3"></i>
                            <i class="icon-star3"></i>
                            <i class="icon-star3"></i>
                            <i class="icon-star3"></i>
                            <i class="icon-star-empty"></i>
                        </div>
                    </div>
                </div>

                <div class="product clearfix pf-dress">
                    <div class="product-image">
                        <a href="#"><img src="~/Content/Image/Product/quan3.jpg" alt="Light Blue Denim Dress"></a>
                        <a href="#"><img src="~/Content/Image/Product/quan1.jpg" alt="Light Blue Denim Dress"></a>
                        <div class="product-overlay">
                            <a href="#" class="add-to-cart"><i class="icon-shopping-cart"></i><span> Add to Cart</span></a>
                            <a href="include/ajax/shop-item.html" class="item-quick-view" data-lightbox="ajax"><i class="icon-zoom-in2"></i><span> Quick View</span></a>
                        </div>
                    </div>
                    <div class="product-desc">
                        <div class="product-title"><h3><a href="#">Light Blue Denim Dress</a></h3></div>
                        <div class="product-price">$19.95</div>
                        <div class="product-rating">
                            <i class="icon-star3"></i>
                            <i class="icon-star3"></i>
                            <i class="icon-star3"></i>
                            <i class="icon-star3"></i>
                            <i class="icon-star-empty"></i>
                        </div>
                    </div>
                </div>

                <div class="product clearfix pf-dress">
                    <div class="product-image">
                        <a href="#"><img src="~/Content/Image/Product/quan3.jpg" alt="Light Blue Denim Dress"></a>
                        <a href="#"><img src="~/Content/Image/Product/quan1.jpg" alt="Light Blue Denim Dress"></a>
                        <div class="product-overlay">
                            <a href="#" class="add-to-cart"><i class="icon-shopping-cart"></i><span> Add to Cart</span></a>
                            <a href="include/ajax/shop-item.html" class="item-quick-view" data-lightbox="ajax"><i class="icon-zoom-in2"></i><span> Quick View</span></a>
                        </div>
                    </div>
                    <div class="product-desc">
                        <div class="product-title"><h3><a href="#">Light Blue Denim Dress</a></h3></div>
                        <div class="product-price">$19.95</div>
                        <div class="product-rating">
                            <i class="icon-star3"></i>
                            <i class="icon-star3"></i>
                            <i class="icon-star3"></i>
                            <i class="icon-star3"></i>
                            <i class="icon-star-empty"></i>
                        </div>
                    </div>
                </div>
                <div class="product clearfix pf-dress">
                    <div class="product-image">
                        <a href="#"><img src="~/Content/Image/Product/quan3.jpg" alt="Light Blue Denim Dress"></a>
                        <a href="#"><img src="~/Content/Image/Product/quan1.jpg" alt="Light Blue Denim Dress"></a>
                        <div class="product-overlay">
                            <a href="#" class="add-to-cart"><i class="icon-shopping-cart"></i><span> Add to Cart</span></a>
                            <a href="include/ajax/shop-item.html" class="item-quick-view" data-lightbox="ajax"><i class="icon-zoom-in2"></i><span> Quick View</span></a>
                        </div>
                    </div>
                    <div class="product-desc">
                        <div class="product-title"><h3><a href="#">Light Blue Denim Dress</a></h3></div>
                        <div class="product-price">$19.95</div>
                        <div class="product-rating">
                            <i class="icon-star3"></i>
                            <i class="icon-star3"></i>
                            <i class="icon-star3"></i>
                            <i class="icon-star3"></i>
                            <i class="icon-star-empty"></i>
                        </div>
                    </div>
                </div>
                <div class="product clearfix pf-dress">
                    <div class="product-image">
                        <a href="#"><img src="~/Content/Image/Product/quan3.jpg" alt="Light Blue Denim Dress"></a>
                        <a href="#"><img src="~/Content/Image/Product/quan1.jpg" alt="Light Blue Denim Dress"></a>
                        <div class="product-overlay">
                            <a href="#" class="add-to-cart"><i class="icon-shopping-cart"></i><span> Add to Cart</span></a>
                            <a href="include/ajax/shop-item.html" class="item-quick-view" data-lightbox="ajax"><i class="icon-zoom-in2"></i><span> Quick View</span></a>
                        </div>
                    </div>
                    <div class="product-desc">
                        <div class="product-title"><h3><a href="#">Light Blue Denim Dress</a></h3></div>
                        <div class="product-price">$19.95</div>
                        <div class="product-rating">
                            <i class="icon-star3"></i>
                            <i class="icon-star3"></i>
                            <i class="icon-star3"></i>
                            <i class="icon-star3"></i>
                            <i class="icon-star-empty"></i>
                        </div>
                    </div>
                </div>
                <div class="product clearfix pf-dress">
                    <div class="product-image">
                        <a href="#"><img src="~/Content/image/Product/quan3.jpg" alt="Light Blue Denim Dress"></a>
                        <a href="#"><img src="~/Content/Image/Product/quan1.jpg" alt="Light Blue Denim Dress"></a>
                        <div class="product-overlay">
                            <a href="#" class="add-to-cart"><i class="icon-shopping-cart"></i><span> Add to Cart</span></a>
                            <a href="include/ajax/shop-item.html" class="item-quick-view" data-lightbox="ajax"><i class="icon-zoom-in2"></i><span> Quick View</span></a>
                        </div>
                    </div>
                    <div class="product-desc">
                        <div class="product-title"><h3><a href="#">Light Blue Denim Dress</a></h3></div>
                        <div class="product-price">$19.95</div>
                        <div class="product-rating">
                            <i class="icon-star3"></i>
                            <i class="icon-star3"></i>
                            <i class="icon-star3"></i>
                            <i class="icon-star3"></i>
                            <i class="icon-star-empty"></i>
                        </div>
                    </div>
                </div>

            </div><!-- #shop end -->

        </div>

    </div>

</section><!-- #content end -->

<section>
    <div class="bantindaotao container">
        <div class="bantindaotao-title">
            <h2 class="bantindaotao-name" style="font-size: 36px;">Bài Viết Nổi Bật</h2>

        </div>
        <div class="bantindaotao-content">
            <div class="row">
                @*@if (DanhSachBaiViet.Count > 0)
                    {
                        int count = 0;
                        foreach (var item in DanhSachBaiViet)
                        {

                            if (count < 3)
                            {*@
                <div class="bantindaotao-content-list col-xl-4 col-12">
                    @*@{
                            var Url = "/" + Utils.convertToUnSign2(item.Title).Replace(" ", "_") + "_bv-" + item.ID + ".htm";
                            if (!string.IsNullOrEmpty(item.TuKhoaSeo))
                            {
                                Url = "/" + Utils.convertToUnSign2(item.TuKhoaSeo).Replace(" ", "_") + "_bv-" + item.ID + ".htm";
                            }
                        }*@

                    <a href="">
                        <img class="bantindaotao-img" src="~/ContentApp/CMSContent/assets/images/baiviet1.png" style="width: 100%; height: 12rem;" />
                    </a>
                    <h4> <a href="" class="bantindaotao-content-title">Form Slim Fit là gì? Top 3 mẫu quần áo ôm tôn dáng nhất</a> </h4>
                    <a href="">
                        <div class="bantindaotao-content-text">
                            Form Slim Fit là thuật ngữ khá quen thuộc trong ngành thời trang hiện nay. Tuy nhiên, bạn chưa chắc đã hiểu được Slim Fit là gì. Hãy cùng TOTODAY tìm hiểu chi tiết hơn về form Slim Fit là gì, cách chọn đồ phù hợp từng dáng người và top 3 mẫu quần áo Slim Fit trong bài viết sau đây nhé!
                        </div>
                    </a>
                </div>
                <div class="bantindaotao-content-list col-xl-4 col-12">
                    <a href="">
                        <img class="bantindaotao-img" src="~/ContentApp/CMSContent/assets/images/baiviet2.png" style="width: 100%; height: 12rem;" />
                    </a>
                    <h4> <a href="" class="bantindaotao-content-title">Form Slim Fit là gì? Top 3 mẫu quần áo ôm tôn dáng nhất</a> </h4>
                    <a href="">
                        <div class="bantindaotao-content-text">
                            Form Slim Fit là thuật ngữ khá quen thuộc trong ngành thời trang hiện nay. Tuy nhiên, bạn chưa chắc đã hiểu được Slim Fit là gì. Hãy cùng TOTODAY tìm hiểu chi tiết hơn về form Slim Fit là gì, cách chọn đồ phù hợp từng dáng người và top 3 mẫu quần áo Slim Fit trong bài viết sau đây nhé!
                        </div>
                    </a>
                </div>
                <div class="bantindaotao-content-list col-xl-4 col-12">
                    <a href="">
                        <img class="bantindaotao-img" src="~/ContentApp/CMSContent/assets/images/baiviet3.png" style="width: 100%; height: 12rem;" />
                    </a>
                    <h4> <a href="" class="bantindaotao-content-title">Form Slim Fit là gì? Top 3 mẫu quần áo ôm tôn dáng nhất</a> </h4>
                    <a href="">
                        <div class="bantindaotao-content-text">
                            Form Slim Fit là thuật ngữ khá quen thuộc trong ngành thời trang hiện nay. Tuy nhiên, bạn chưa chắc đã hiểu được Slim Fit là gì. Hãy cùng TOTODAY tìm hiểu chi tiết hơn về form Slim Fit là gì, cách chọn đồ phù hợp từng dáng người và top 3 mẫu quần áo Slim Fit trong bài viết sau đây nhé!
                        </div>
                    </a>
                </div>

                @*count++;
                    }
                    else
                    {
                        break;
                    }*@
                @*}

                    }*@
            </div>

        </div>
    </div>
</section>