
@{
    ViewBag.Title = "_ThemMoi";
    Layout = null;
}
<div class="row">
    <div class="panel" style="margin-top: 10px !important;">
        <div class="panel-body">
            <div style="padding: 10px;">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6  mb-3">
                        <div class="form-group">
                            <label>Họ và tên<span class="text-danger">(*)</span></label>
                            <input type="text" class="form-control" placeholder="" id="txtHoTenThemMoi" value="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6  mb-3">
                        <div class="form-group">
                            <label>Tài khoản<span class="text-danger">(*)</span></label>
                            <input type="text" class="form-control" placeholder="" id="txtTaiKhoanThemMoi" value="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6  mb-3">
                        <div class="form-group">
                            <label>Mật khẩu<span class="text-danger">(*)</span></label>
                            <input type="password" class="form-control" placeholder="" id="txtMatKhauThemMoi" value="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6  mb-3">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" class="form-control" placeholder="" id="txtEmailThemMoi" value="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6  mb-3">
                        <div class="form-group">
                            <label>SĐT</label>
                            <input type="text" class="form-control" placeholder="" id="txtSDTThemMoi" value="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12  mb-3">
                        <div>
                            <label class="form-label">Ảnh đại diện<span class="text-danger">(*)</span>  <a class="btn btn-outline-primary waves-effect waves-light btn-xs" onclick="ChonAnhDaiDienThemMoi()" title="Chọn"><i class="ri-add-line"></i></a></label>
                            <div class="dropzoneAnhDaiDien" id="dropzoneAnhDaiDienThemMoi">
                                <div style="padding: 50px;">Ảnh đại điện</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var UrlAnhDaiDienThemMoi = "";
    function ChonAnhDaiDienThemMoi() {
        var finder = new CKFinder();
        finder.selectActionFunction = function (url) {
            UrlAnhDaiDienThemMoi = url;
            $("#dropzoneAnhDaiDienThemMoi").empty();
            $("#dropzoneAnhDaiDienThemMoi").html(`<img src="${url}"/>`);
            $("#dropzoneAnhDaiDienThemMoi").addClass("dropSua");
        }
        finder.popup();
    }

    function ThemMoiLuu() {
        if ($("#txtHoTenThemMoi").val() == "") {
            ToastMessage("Lỗi", "Không được để trống họ tên", "error");
            return;
        }
        if ($("#txtTaiKhoanThemMoi").val() == "") {
            ToastMessage("Lỗi", "Không được để trống tài khoản", "error");
            return;
        }
        if ($("#txtMatKhauThemMoi").val() == "") {
            ToastMessage("Lỗi", "Không được để trống mật khẩu", "error");
            return;
        }

        Swal.fire({
            title: '',
            text: "Chắc chắn lưu người dùng?",
            icon: 'question',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Chắc chắn',
            cancelButtonText: 'Thoát'
        }).then((result) => {
            if (result.isConfirmed) {
                loading();
                var requestModel = {
                    UserName: $("#txtTaiKhoanThemMoi").val(),
                    Password: $("#txtMatKhauThemMoi").val(),
                    FullName: $("#txtHoTenThemMoi").val(),
                    Email: $("#txtEmailThemMoi").val(),
                    Phone: $("#txtSDTThemMoi").val(),
                    Image: UrlAnhDaiDienThemMoi
                }

                $.post("/Admin/QuanTriNguoiDung/ThemMoi", { "requestModel": requestModel }, function (data) {
                    if (data.icon == "success") {
                        Message('', data.message, data.icon);
                        $("#ModelThemMoi").modal("hide");
                    }
                    else {
                        Message('', data.message, data.icon);
                    }
                    table.ajax.reload(null, false);
                    offLoading();
                });
            }
        })
    }

</script>