
@{
    ViewBag.Title = "_ThemMoi";
    Layout = null;
}

<input type="hidden" value="" id="AnhDaiDienTM" />
<div class="row">
    <div class="panel" style="margin-top: 10px !important;">
        <div class="panel-body">
            <div style="padding: 10px;">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-12  mb-3">
                        <div class="form-group">
                            <label>Mô tả<span class="text-danger">(*)</span></label>
                            <input type="text" class="form-control" placeholder="" id="txtMoTaThemMoi" value="">
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-12  mb-3">
                        <div class="form-group">
                            <label>Chuyên mục<span class="text-danger">(*)</span></label>
                            <select class="form-control" id="slChuyenMucChaThemMoi">
                                @Html.Raw(ViewBag.optionSelected)
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-12  mb-3">
                        <div class="form-group">
                            <label>Ngày phát hành<span class="text-danger">(*)</span></label>
                            <input type="text" class="form-control" style="padding: 5px 14px;" placeholder="" id="txtNgayPhatHanhTM" value="@DateTime.Now.ToString("dd-MM-yyyy HH:mm")">
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-12  mb-3 dp-flex">
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="ckHienThiSlideThemMoi">
                                <label class="form-check-label" for="ckHienThiSlideThemMoi">
                                    Hiển thị slide
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12  mb-3">
                        <div>
                            <label class="form-label">Ảnh đại diện  <a class="btn btn-outline-primary waves-effect waves-light btn-xs" onclick="ChonAnhDaiDienThemMoi()" title="Chọn"><i class="ri-add-line"></i></a></label>
                            <div class="dropzoneAnhDaiDien" id="dropzoneAnhDaiDienThemMoi">
                                <div style="padding: 50px;">Ảnh đại điện</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12  mb-3">
                        <div>
                            <label class="form-label">Ảnh trong ablum  <a class="btn btn-outline-primary waves-effect waves-light btn-xs" onclick="ThemAnhTrongAlbum()" title="Chọn"><i class="ri-add-line"></i></a></label>
                            <div class="row DataViewAnhAlbum">
                                @*<div class="col-lg-6">
                        <div class="card border">
                            <div class="card-body">
                                <div class="d-sm-flex">
                                    <div class="flex-shrink-0">
                                        <img src="~/Content/CMSContent/assets/images/small/img-1.jpg" alt="" width="115" class="rounded-1">
                                    </div>
                                    <div class="flex-grow-1 ms-sm-4 mt-3 mt-sm-0">
                                        <h6><a href="javascript:void(0);">A mix of friends and strangers heading off to find an adventure</a><i class="ri-delete-bin-line"></i></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    lstAnhAblum = [];
    $("#slChuyenMucChaThemMoi").select2({
        dropdownParent: $('#ModelThemMoi')
    })

    $("#txtNgayPhatHanhTM").flatpickr({
        static: true,
        enableTime: true,
        dateFormat: "d-m-Y H:i",
    });

    var UrlAnhDaiDienThemMoi = "";
    function ChonAnhDaiDienThemMoi() {
        var finder = new CKFinder();
        finder.selectActionFunction = function (url) {
            UrlAnhDaiDienThemMoi = url;
            $("#dropzoneAnhDaiDienThemMoi").empty();
            $("#dropzoneAnhDaiDienThemMoi").html(`<img src="${url}"/>`);
            $("#dropzoneAnhDaiDienThemMoi").addClass("dropSua");
        }
        finder.popup();
    }
</script>