
@{

}

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Thư viện album ảnh xóa</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Quản lý thùng rác và log</a></li>
                    <li class="breadcrumb-item active">Thư viện album ảnh xóa</li>
                </ol>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12" id="card-none1">
        <div class="card" id="invoiceList">
            <div class="card-header border-0">
                <div class="d-flex align-items-center">
                    <h5 class="card-title mb-0 flex-grow-1">Danh sách album ảnh</h5>
                </div>
            </div>
            <div class="card-body bg-soft-light border border-dashed border-start-0 border-end-0">
                <div class="row g-3">

                    <div class="col-xxl-3 col-sm-12">
                        <div class="form-group">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Tiêu đề" id="txtTieuDe" value="" onchange="TimKiemBaiViet()">
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-sm-12">
                        <div class="form-group">
                            <div class="form-group">
                                <select class="form-control slTrangThai" id="slCategory" onchange="TimKiemBaiViet()">
                                    <option value=""></option>
                                    @Html.Raw(ViewBag.optionSelected)
                                </select>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table id="DanhSachVideo" class="display nowrap" style="width:100%">
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            GetData();
        });
        $("#slCategory").select2({
            placeholder: "Chuyên mục",
            allowClear: true
        })

        function GetData() {

            table = $.fn.initDataTable('#DanhSachVideo', {
                serverSide: true,
                searching: false,
                lengthMenu: [50],
                scrollX: true,
                scrollY: true,
                columnDefs: [
                    {
                        targets: [1, 2, 3, 4], // your case first column
                        className: "text-center",
                    },
                    {
                        render: function (data, type, full, meta) {
                            return "<div class='text-wrap'>" + data + "</div>";
                        },
                        targets: 0
                    },
                ],
                fixedHeader: true,
                fixedColumns: {
                    left: 0,
                    right: 1
                },
                preDrawCallback: function () {
                    loading()
                },
                columns: [
                    { "data": "MoTa", title: "Mô tả" },
                    { "data": "UserName", title: "Người tạo" },
                    {
                        "data": "CreatedDate", "className": 'dt-body-center', title: "Ngày tạo", "render": function (data) {
                            if (data != null) {
                                return moment(data).format("DD/MM/YYYY");
                            }
                            return "";
                        }
                    },
                    {
                        "data": "UpdateDate", "className": 'dt-body-center', title: "Ngày xóa", "render": function (data) {
                            if (data != null) {
                                return moment(data).format("DD/MM/YYYY");
                            }
                            return "";
                        }
                    },
                    {
                        "data": "Id", "className": 'dt-body-center', title: `Thao tác`, "render": function (data) {
                            var StrHtml = `<a class="btn btn-outline-primary waves-effect waves-light btn-xs" href="#" onclick="KhoiPhucVideo(${data})" title="Khôi phục video"><i class="ri-file-history-line"></i></a>`
                            return StrHtml;
                        }
                    },
                ],
                ajax: {
                    url: "/Admin/QuanLyAnhDaXoa/DanhSachThuVienAnhXoa",
                    type: "post",
                    data: (params) => {
                        params.MoTa = $("#txtMoTa").val();
                        params.CategoryID = $("#slCategory").val();
                    }
                },
                drawCallback: function () {
                    offLoading();
                },
                initComplete: function (dt) {
                    //offloading();
                    if (dt.type == "error") {
                        showErrorToast("Thất bại", dt.message, dt.type);
                    }
                }
            });

        }

        function KhoiPhucVideo(Id) {
            Swal.fire({
                title: '',
                text: "Chắc chắn khôi phục album ảnh?",
                icon: 'question',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Chắc chắn',
                cancelButtonText: 'Thoát'
            }).then((result) => {
                if (result.isConfirmed) {
                    loading();

                    var requestModel = {
                        ID: Id,
                    }

                    $.post("/Admin/QuanLyAnhDaXoa/KhoiPhucAnh", { "requestModel": requestModel }, function (data) {
                        if (data.icon == "success") {
                            Message('', data.message, data.icon);
                        }
                        else {
                            Message('', data.message, data.icon);
                        }
                        table.ajax.reload(null, false);
                        offLoading();
                    });
                }
            })
        }


    </script>
}