
@{
    ViewBag.Title = "_ChiTiet";
    var ChiTiet = ViewBag.ChiTiet;
    Layout = null;
}
<div class="offcanvas-header border-bottom">
    <h4 class="offcanvas-title" id="offcanvasBottomLabel">@ChiTiet.MoTa</h4>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
    <div class="row gallery-light">
        @if (ChiTiet.DanhSachAnh != null)
        {
            foreach (var itemAnh in ChiTiet.DanhSachAnh)
            {
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="gallery-box card light mb-0">
                        <div class="gallery-container">
                            <a href="javascript:void(0)" title="" class="lightbox" onclick='OpenLightBox(@ViewBag.Id,@itemAnh.Id)'>
                                <img class="gallery-img img-fluid mx-auto img-card-Ct " src="@itemAnh.FileImage" alt="" />
                                <div class="gallery-overlay" style=" opacity: 1; visibility: visible; background-color: rgb(17 17 18 / 50%);">
                                    <h6 class="overlay-caption">@itemAnh.MoTa</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    <!--end row-->
</div>