@using Models
@{
    ViewBag.Title = "PhuKien";
    Layout = "~/Views/Shared/_LayoutCommon.cshtml";
}
<link href="~/Content/ControllerCss/Home.css" rel="stylesheet" />
<link href="~/Content/ControllerCss/HomeProduct.css" rel="stylesheet" />
<section id="content">

    <div class="content-wrap">

        <h4 style="margin-left: 8%;margin-bottom: 2.5rem"><a href="@Url.Action("Index","Home")">Trang Chủ / </a>Thời Trang Nữ</h4>
        <div class="container clearfix">

            <!-- Portfolio Filter
            ============================================= -->
            <ul id="portfolio-filter" class="portfolio-filter clearfix">
                <li class="activeFilter"><a href="#" data-filter="*">Show All</a></li>
                <li><a href="#" data-filter=".pf-Non">Nón</a></li>
                <li><a href="#" data-filter=".pf-Balo">Balo</a></li>
                <li><a href="#" data-filter=".pf-Belt">Thắt Lưng</a></li>
                <li><a href="#" data-filter=".pf-Bags">Túi Sách</a></li>
                <li><a href="#" data-filter=".pf-Sort">Vòng Tay</a></li>
                <li><a href="#" data-filter=".pf-Watch">Đồng Hồ</a></li>

            </ul>
            <div class="clear"></div>
            <div id="PhuKienLoad">

            </div>


        </div>

    </div>

</section>
@section scripts {
    <script>
            $(document).ready(function () {
                LoadPage1(1);
            })

        function LoadPage1(start) {
            var requestModel = {
                start: start,
            }
            $("#PhuKienLoad").load("/DanhSachSP/_DSPhuKien", { "requestModel": requestModel }, function (data) {
            })
        }
    </script>
} 