<ul class="nav nav-pills  nav-stacked">
    @*@foreach (var item in Model)
        {*@
    <li class="">Xu hướng thời trang 2023</li>
    <li class="">Sản phẩm mới</li>
    <li class="">Thời trang Nam</li>
    <li class="">Thời trang Nữ</li>
    <li class="">Liên Hệ</li>

    @*}*@
</ul>

<style>
    .nav-stacked > li {
        color: #202634;
        font-family: "Cabin Condensed", Arial, sans-serif;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        transition: all 0.8s ease 0s;
        padding-left: 18.33333333px;
        padding-right: 18.33333333px;
    }
</style>

