<link href="~/Content/ControllerCss/Home.css" rel="stylesheet" />
<link href="~/Content/ControllerCss/HomeProduct.css" rel="stylesheet" />


<ul class="nav nav-pills  nav-stacked">

    <li><a href="@Url.Action("Index", "TinTucView")">Xu hướng thời trang 2023</a></li>
    <li><a href="#spm">Sản phẩm mới</a></li>
    <li><a href="@Url.Action("DoNam", "DanhSachSP")">Thời trang Nam</a></li>
    <li><a href="@Url.Action("DoNu", "DanhSachSP")">Thời trang Nữ</a></li>
    <li><a href="#">Liên Hệ</a></li>
</ul>

<style>
    .nav-stacked > li > a{
        color: #202634;
        font-family: "Cabin Condensed", Arial, sans-serif;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        transition: all 0.8s ease 0s;
        padding-left: 18.33333333px;
        padding-right: 18.33333333px;
    }

</style>

