
.img-HomePage {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: 0px 0px;
}

.Color-new {
    background-color: #F5F5F5;
}

.GreenContainerTopMIddleNew {
    padding: 0
}

.title-new {
    font-weight: 600;
}

.GreenContainerTitleNew h2, .GreenContainerTitleNew .ContainerTitleNew {
    padding: 0 !important;
    margin: 0;
    font-family: Arial, Verdana, Geneva, sans-serif,Helvetica, sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
}

.GreenContainerTitleNew {
    float: left;
    padding: 7px 10px;
    background-color: #0c4da2;
    position: relative;
    text-align: left;
    font-size: 10px;
}

.stripe-line {
    background: no-repeat url(~/FileUploaded/Upload/Images/stripe_green.png);
    height: 30px;
    overflow: hidden;
    margin-top: 0px;
    background-image: url(/Content/Image/Banner/IconTitle.png);
    border-bottom: 5px solid;
    border-color: #0c4da2;
}

.Content-title {
    padding: 7px;
    background-color: #134281;
}

.Content-Title {
    border: 2px solid;
    border-color: #f5f5f5;
    padding: 1rem;
}

.py-1 {
    padding-top: .25rem !important;
    padding-bottom: .25rem !important;
    list-style-type: disc;
    color: #134281;
    font-size: 15px;
}

.text-muted {
    color: black !important
}



.padding-img-right {
    padding-right: 0px
}

.img-Banner1 {
    width: 100%;
    height: 25rem;
  /*  object-fit: cover;
    object-position: 0px 0px;*/
}
.img-Banner3 {
    width: 100%;
    height: 8rem;
}


.img-Banner2 {
    width: 100%;
    height: 15rem;
    /*   object-fit: cover;
    object-position: 0px 0px;*/
}




.wraptext-new-height {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}



.img-Title__new {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    object-position: 0px 0px;
}

.pageContent-Media {
    background-color: #134281;
}

.border-card-media {
    border: 0;
    border-radius: 0 !important
}

.img-new2 {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    object-position: 0px 0px;
}

.slide-Banner {
    width: 100%;
    height: 35rem;
    object-fit: cover;
}


.Color-left-title {
    border-left: 5px solid;
    border-color: red;
    padding-left: 10px;
}

.zoom-in-out-box {
    animation: zoom-in-zoom-out 15s ease infinite;
}

@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.2, 1.2);
    }

    100% {
        transform: scale(1, 1);
    }
}

.navbar-menu .navbar-nav .nav-link[data-bs-toggle=collapse]:after {
    display: block;
    content: "";
    font-family: "Material Design Icons";
    margin-left: auto;
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
    font-size: 1.05rem;
    position: absolute;
    right: 18px;
    color: var(--vz-vertical-menu-title-color)
}


.wraptext-new-height-home {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
}


@media only screen and (max-width: 1200px) {
    .hide-right-view {
        display: none
    }

    .img-new2 {
        width: 100%;
        height: 10rem;
        object-fit: cover;
        object-position: 0px 0px;
    }


    .slide-Banner {
        width: 100%;
        height: 45rem;
        object-fit: cover;
    }
}


@media only screen and (max-width: 1280px) {
    .slide-Banner {
        width: 100%;
        height: 30rem;
        object-fit: cover;
    }
}




@media only screen and (max-width: 1024px) {
    .slide-Banner {
        width: 100%;
        height: 25rem;
        object-fit: cover;
    }
}


@media only screen and (max-width: 991px) {
    .padding-img-right {
        padding: 15px
    }
}

@media only screen and (max-width: 757px) {
    .img-Banner1 {
        width: 100%;
        height: 20rem;
        /*object-fit: cover;
        object-position: 0px 0px;*/
    }

    .img-Banner2 {
        width: 100%;
        height: 12rem;
     /*   object-fit: cover;
        object-position: 0px 0px;*/
    }
    .img-Banner3 {
        width: 100%;
        height: 5rem;
    }
}


@media only screen and (max-width: 537px) {
    .img-Banner1 {
        width: 100%;
        height: 12rem;
       /* object-fit: cover;
        object-position: 0px 0px;*/
    }

    .img-Title__new {
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: 0px 0px;
    }

    .img-Banner2 {
        width: 100%;
        height: 12rem;
       /* object-fit: cover;
        object-position: 0px 0px;*/
    }
    .img-Banner3 {
        width: 100%;
        height: 5rem;
    }
}

@media only screen and (max-width: 991px) {
    .hide-right-view-Detail {
        display: none
    }
}
