body {
    font-family: 'Roboto', sans-serif;
}

.d-flex {
    display: flex;
}

.align-item-end {
    align-items: end;
}
/*sweet alert*/
.swal2-icon-content {
    display: flex;
    align-items: center;
    font-size: 3.75em;
}

.swal2-container.swal2-center {
    background: rgba(0,0,0,.4) !important;
}

.swal2-html-container {
    text-align: center;
}

.swal2-container {
    z-index: 1081 !important;
}


.select2-container--default .select2-selection--single {
    border: 1px solid #d9d9d9;
}

    .select2-container--default .select2-selection--single:hover {
        border-color: #6366F1;
    }

.select2-container .select2-selection--single {
    height: auto;
}

    .select2-container .select2-selection--single .select2-selection__rendered {
        padding: 5px 10px 5px 10px;
        color: #6c757d;
    }

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 50%;
    right: 3px;
    transform: translateY(-50%);
}

.select2-search__field,
.select2-container--default .select2-search--dropdown .select2-search__field {
    outline: none;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
}

.select2-dropdown {
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border: 1px solid #ced4da;
    z-index: 1082
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #e9ecef;
    color: #495057;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 16px !important;
}

.select2-container .select2-selection--single {
    min-height: 37.47px !important;
}
/* end custom css select 2 */


/*custom css menu*/
#scrollbar .navbar-nav {
    flex-wrap: wrap;
}

[data-layout=horizontal] #navbar-nav {
    margin: 0 -24px;
}

[data-layout=horizontal] .navbar-menu .navbar-nav > li:nth-of-type(2) > .nav-link.menu-link {
    padding: 0.75rem 1.5rem;
}

[data-layout=vertical][data-sidebar=dark] .navbar-nav .nav-link span {
    padding-right: 10px;
}


/*end custom css menu*/
