

@{
    ViewBag.Title = "_ThemMoi";
    Layout = null;
}

<input type="hidden" value="" id="AnhDaiDienTM" />
<div class="row">
    <div class="panel" style="margin-top: 10px !important;">
        <div class="panel-body">
            <div style="padding: 10px;">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12  mb-3">
                        <div class="form-group">
                            <label>Mô tả<span class="text-danger">(*)</span></label>
                            <input type="text" class="form-control" placeholder="" id="txtMoTaThemMoi" value="">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12  mb-3">
                        <div class="form-group">
                            <label>Chuyên mục<span class="text-danger">(*)</span></label>
                            <select class="form-control" id="slChuyenMucChaThemMoi">
                                @Html.Raw(ViewBag.optionSelected)
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12  mb-3  dp-flex">
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="ckHienThiTrangChuThemMoi">
                                <label class="form-check-label" for="ckHienThiTrangChuThemMoi">
                                    Hiển thị trang chủ
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12  mb-3">
                        <div class="form-group">
                            <label>Loại video</label>
                            <select class="form-control" id="slLoaiVideoThemMoi">
                                <option value="1">Link youtube</option>
                                <option value="0">Video trên server</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12  mb-3">
                        <div class="form-group">
                            <label>Link Video<span class="text-danger">(*)</span></label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="LinkVideoThemMoi" aria-label="Recipient's username" aria-describedby="button-addon2">
                                <button class="btn btn-outline-primary" type="button" id="button-addon2" onclick="ChonVideoThemMoi()">Chọn</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12  mb-3">
                        <div class="form-group">
                            <label>Ngày đăng<span class="text-danger">(*)</span></label>
                            <input type="text" class="form-control" placeholder="" id="txtNgayDangThemMoi" value="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12  mb-3">
                        <div>
                            <label class="form-label">Chú thích</label>
                            <textarea maxlength="3000" rows="0" id="txtChuThichThemMoi" class="form-control resizable_textarea" style="overflow: hidden; overflow-wrap: break-word; height: 150px" aria-invalid="false"></textarea>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12  mb-3">
                        <div>
                            <label class="form-label">
                                Ảnh đại diện
                                <a class="btn btn-outline-primary waves-effect waves-light btn-xs" onclick="ChonAnhDaiDienThemMoi()" title="Chọn"><i class="ri-add-line"></i></a>
                                <a class="btn btn-outline-warning waves-effect waves-light btn-xs" onclick="XoaAnhDaiDienXoa()" title="Xóa ảnh đại diện"><i class="ri-delete-bin-line"></i></a>

                            </label>
                            <div class="dropzoneAnhDaiDien" id="dropzoneAnhDaiDienThemMoi">
                                <div style="padding: 50px;">Ảnh đại điện</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function XoaAnhDaiDienXoa() {
        $("#dropzoneAnhDaiDienThemMoi").empty();
        $("#dropzoneAnhDaiDienThemMoi").removeClass("dropSua");
        $("#AnhDaiDienTM").val("");
        $("#dropzoneAnhDaiDienThemMoi").append(`<div style="padding: 50px;">Ảnh đại điện</div>`)
    }

    $("#txtNgayDangThemMoi").flatpickr({
        static: true,
        enableTime: true,
        dateFormat: "d-m-Y H:i",
    });

    $("#slChuyenMucChaThemMoi").select2({
        dropdownParent: $('#ModelThemMoi')
    })
    $("#slLoaiVideoThemMoi").select2({
        dropdownParent: $('#ModelThemMoi')
    })
    var UrlAnhDaiDienThemMoi = "";
    function ChonAnhDaiDienThemMoi() {
        var finder = new CKFinder();
        finder.selectActionFunction = function (url) {
            UrlAnhDaiDienThemMoi = url;
            $("#dropzoneAnhDaiDienThemMoi").empty();
            $("#dropzoneAnhDaiDienThemMoi").html(`<img src="${url}"/>`);
            $("#dropzoneAnhDaiDienThemMoi").addClass("dropSua");
        }
        finder.popup();
    }

    function ChonVideoThemMoi() {
        var finder = new CKFinder();
        finder.selectActionFunction = function (url) {
            $("#LinkVideoThemMoi").val(url);
        }
        finder.popup();
    }

</script>